# node
node_modules
package-lock.json

# .env
.env
.env.example

# OS
.DS_Store
Thumbs.db

# development use
*.log
logs/
plugins/
*.jar

# Docker
Dockerfile
docker-compose.yml
docker-compose.example.yml
.dockerignore

# Git
.git
.gitignore
.github/

# Documentation
README.md
LICENSE