# node
node_modules

# .env
.env
.env.example

# OS
.DS_Store
Thumbs.db

# development use
*.log
logs/
plugins/
*.jar

# Docker
Dockerfile
docker-compose.yml
docker-compose.example.yml
.dockerignore

# Git
.git
.gitignore
.github/

# Documentation
readme.md
LICENSE

# Lavalink
application.yml

# Batch file 
start.bat