# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Python
__pycache__/
*.py[cod]
*$py.class
env/
.env
venv/
.venv/

# external tools
external/

# Logs and OS specific
*.log
.DS_Store
Thumbs.db

# git
.git
.gitignore
.github
